asgiref==3.5.1
autopep8==1.6.0
colorama==0.4.4
Django==4.0.4
django-debug-toolbar==3.4.0
djangorestframework==3.13.1
drf-nested-routers==0.93.4
mysqlclient==2.1.0
pycodestyle==2.8.0
pytz==2022.1
sqlparse==0.4.2
toml==0.10.2
tzdata==2022.1
